/* DAIWKO HEDERI */
header{ width: 1280px;
    
    padding: 17px 66px 37px 44px;  
    margin: 0 auto;

}
nav{display: inline-block;

}
h1{ font-size: 70px;
    display: inline-block;
    vertical-align: middle;

}
li{font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 102px;

}

/* DAIWKO SEKCIA */

section{ width: 1280px;
    margin: 0 auto;
 
 padding: 174px 110px 152px 95px;
 background-color: #306b34;
 

}

div{width: 307px; height: 380px;
    display: inline-block;
    
    vertical-align: top;
    margin-left: 30px;
   
}
img{ 
    margin: 0 auto;
    height: 453px; width: 679px;
    
    vertical-align: top;
    
    
}
 
h2{ font-size: 40px;

}
p{font-size: 20px;
    margin-top: 58px;

}

/* DAIWKO ARTIKLI */
article{ width: 1280px;
    margin: 0 auto;
    padding: 240px 137px 150px 184px;
    
    border: 5px solid black;

}
.poto{ width: 272px; height: 46px;
    /* mokled ak verafrit gavixsene rogor unda gamecentra poto da davgugle sheidzleba ssashineleba makvs gaketebuli mara memgoni gaamartla */
    
    display: block;
  margin-left: auto;
  margin-right: auto;
  
         

}
.text{ width: 959px;
    display: inline-block;
    margin-top: 72px;
    font-size: 20px;


}
 button{height: 48px; width: 148px;
    background-color: #36413e;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
